# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAMocms2Zp1CdMBgW4XhvcHzaLwI_hSWQg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=purpose-aec15.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=purpose-aec15
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=purpose-aec15.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=971703720450
NEXT_PUBLIC_FIREBASE_APP_ID=1:971703720450:web:eaddf23a15d6bbf4cf651b

# Admin Configuration
NEXT_PUBLIC_ADMIN_EMAIL=admin@yoursite.com

# Payment (Future)
PAYSTACK_SECRET_KEY=sk_test_your_secret_key
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_your_public_key